[Unit]
Description=HCP launcher service
After=networking.service
Before=auth-rpcgss-module.service

[Service]
Type=notify
ExecStart=/systemd-shim-launcher.sh

[Install]
WantedBy=multi-user.target
